.content {
    grid-area: content;
    background-color: #8fbbec;
    border-radius: 10px;
    margin: 40px 0 10px 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding-left: 20px;
}

.textArea {
    background-color: ghostwhite;
    border-radius: 8px;
    width: 350px;
    height: 50px;
    text-align: start;
}

.newMessage {
    display: flex;
    flex-direction: row;
}